body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.Paragraphe-standard {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:"Raleway Medium", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-2 {
	font-family:"Raleway Light", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	display:inline-block;
	height:620px;
	width:620px;
}
#_idContainer001 {
	display:inline-block;
	height:74px;
	width:107px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
